<a class="btn btn-secondary float-right mt-2" href="/employee"><i class="fa fa-plus"></i>Create New</a>
<h1>Employees<i class="fas fa-users"></i></h1>
<table class="table table-dark table-striped">
    <tr>
        <th>FullName</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>City</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tbody>
        {{#each lst}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td><a href="/employee/edit/{{this._id}}"><i class="fas fa-user-edit"></i></a></td>
            <td><a href="/employee/delete/{{this._id}}"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        {{/each}}
    </tbody>
</table>