<h1>hi</h1>
<h2>{{list}}</h2>
<table>
    <tr>
        <th>FullName</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>city</th>
    </tr>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>